@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Calistoga&family=Montserrat:wght@400;500&family=Secular+One&family=Source+Sans+Pro:wght@600&display=swap');

$primary: #2A5394;
$light: #EDF2FA;

body {
    // overflow-y: hidden;
}

.dashboard {
    // background: blue;
    height: 100vh;
}

.dashboard--content {

    // background: green;
    height: calc(100% - 80px);
    .dashboard--content-data {
        // background: green;
        height: 100%;
        overflow-y: auto;
    }
}

.form--section {

    max-width: 22.9375rem;
    width: 100%;

    padding-top: 0.6875rem;

    .form-label {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        color: $primary;
    }

    input[type="submit"] {
        margin-top: 1.5rem;
    }
}
@import '../../node_modules/bootstrap/scss/bootstrap.scss';